@import '../../common/style/var.less';

.van-doc-header {
  width: 100%;
  background-color: #001938;
  user-select: none;
  position: fixed;
  z-index: 9999;
top: 0;
left: 0;
right: 0;
  &__top {
    display: flex;
    align-items: center;
    height: @van-doc-header-top-height;
    padding: 0 @van-doc-padding;
    line-height: @van-doc-header-top-height;

    &-nav {
      flex: 1;
      font-size: 0;
      text-align: right;

      >li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }

      &-item {
        margin-left: 20px;
      }

      &-title {
        display: block;
        font-size: 15px;
      }
    }
  }



  &__cube {
    position: relative;
    display: block;
    padding: 0 12px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  &__logo {
    display: block;

    img,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      width: 24px;
      margin-right: 10px;
    }

    span {
      color: #fff;
      font-size: 22px;
    }
  }

  &__logo-link {
    img {
      display: block;
      width: 26px;
      height: 26px;
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}