<vant-mobile-nav title='Icon'></vant-mobile-nav>
<van-icon  name="chat-o"></van-icon>
<van-icon name="https://b.yzcdn.cn/vant/icon-demo-1126.png" ></van-icon>

<van-icon name="chat-o" [dot]='true' ></van-icon>
<van-icon name="chat-o" badge="9" ></van-icon>
<van-icon name="chat-o" badge="99+" ></van-icon>

<van-icon name="cart-o" color="#1989fa" ></van-icon>
<van-icon name="fire-o" color="#ee0a24" ></van-icon>

<van-icon name="chat-o" size="40" ></van-icon>
 <van-icon name="chat-o" size="30px" ></van-icon>