<div
    [class]="'van-cell '+cellClass"
    [class.van-cell--center]="center"
    [class.van-cell--required]="required"
    [class.van-cell--borderless]="border"
    [class.van-cell--size]="size"
    [class.van-cell--clickable]="isLink||clickable"
    [attr.role]="clickable ? 'button' : null"
    [attr.tabindex]="clickable ? 0 : null"
    (click)="onClick($event)"
>
    <van-icon
        *ngIf="icon"
        nativeClassName='van-cell__left-icon'
        [name]='icon'
        [classPrefix]="iconPrefix?iconPrefix:'van-icon'"
    ></van-icon>
    <div
        *ngIf="title"
        [class]="'van-cell__title '+titleClass"
        [class.van-cell__disabled]="disabled"
        [ngStyle]="titleStyle"
    >
        <span>{{title}}</span>
        <div
            *ngIf="label"
            [class]="'van-cell__label '+labelClass"
           
        >
            {{label}}
        </div>
    </div>
    <div
        [class]="'van-cell__value '+valueClass"
        [class.van-cell__value--alone]='!title'
    >
        <ng-content></ng-content>
        <span>{{value}}</span>
    </div>
    <van-icon
        *ngIf="isLink"
        nativeClassName='van-cell__right-icon'
        [name]="arrowDirection?('arrow-'+arrowDirection):'arrow'"
    ></van-icon>

</div>
