<vant-mobile-nav title='Image'></vant-mobile-nav>
<vant-mobile-demo title='基础用法'>

    <van-image
        width="100"
        height="100"
        src="https://img.yzcdn.cn/vant/cat.jpeg"
    ></van-image>

</vant-mobile-demo>
<vant-mobile-demo title='填充模式'>

    <van-image
        width="100"
        height="100"
        fit='contain'
        src="https://img.yzcdn.cn/vant/cat.jpeg"
    ></van-image>
    <van-image
        width="100"
        height="100"
        fit='cover'
        src="https://img.yzcdn.cn/vant/cat.jpeg"
    ></van-image>
    <van-image
        width="100"
        height="100"
        fit='fill'
        src="https://img.yzcdn.cn/vant/cat.jpeg"
    ></van-image>
    <van-image
        width="100"
        height="100"
        fit='none'
        src="https://img.yzcdn.cn/vant/cat.jpeg"
    ></van-image>
    <van-image
        width="100"
        height="100"
        fit='scale-down'
        src="https://img.yzcdn.cn/vant/cat.jpeg"
    ></van-image>
</vant-mobile-demo>
