<vant-mobile-nav title='Tab'></vant-mobile-nav>
<vant-mobile-demo title='基础用法'>
    <van-tabs>
        <van-tab title='标签1'>内容1</van-tab>
        <van-tab title='标签2'>内容2</van-tab>
        <van-tab title='标签3'>内容3</van-tab>
        <van-tab title='标签4'>内容4</van-tab>    <van-tab title='标签5'>内容5</van-tab>        <van-tab title='标签6'>内容6</van-tab>
    </van-tabs>
</vant-mobile-demo>
<vant-mobile-demo title='标签栏滚动'>
    <van-tabs>
        <van-tab title='标签1'>内容1</van-tab>
        <van-tab title='标签2'>内容2</van-tab>
        <van-tab title='标签3'>内容3</van-tab>
        <van-tab title='标签4'>内容4</van-tab>
        <van-tab title='标签5'>内容5</van-tab>
        <van-tab title='标签6'>内容6</van-tab>
        <van-tab title='标签7'>内容7</van-tab>
        <van-tab title='标签8'>内容8</van-tab>
        <van-tab title='标签9'>内容9</van-tab>
        <van-tab title='标签10'>内容10</van-tab>
        <van-tab title='标签11'>内容11</van-tab>
        <van-tab title='标签12'>内容12</van-tab>

        <van-tab title='标签13'>内容13</van-tab>
        <van-tab title='标签14'>内容14</van-tab>
    </van-tabs>
</vant-mobile-demo>
<vant-mobile-demo title='禁用标签'>
    <van-tabs>
        <van-tab title='标签1' >内容1</van-tab>
        <van-tab title='标签2' [disabled]='true'>内容2</van-tab>
        <van-tab title='标签3'>内容3</van-tab>
        <van-tab title='标签4'>内容4</van-tab>
        <van-tab title='标签5'>内容5</van-tab>
        <van-tab title='标签6'>内容6</van-tab>
        <van-tab title='标签7'>内容7</van-tab>
        <van-tab title='标签8'>内容8</van-tab>
    </van-tabs>
</vant-mobile-demo>
