<vant-mobile-nav title='Notify'></vant-mobile-nav>
<van-van-doc-demo-card title='基础用法'>
    <van-cell
        title="基础用法"
        [isLink]="true"
        (click)="baseClick()"
    ></van-cell>

</van-van-doc-demo-card>
<van-van-doc-demo-card title='通知类型'>
    <van-cell
        title="主要通知"
        [isLink]="true"
        (click)="primaryClick()"
    ></van-cell>
    <van-cell
        title="成功通知"
        [isLink]="true"
        (click)="successClick()"
    ></van-cell>
    <van-cell
        title="危险通知        "
        [isLink]="true"
        (click)="dangerClick()"
    ></van-cell>
    <van-cell
        title="警告通知        "
        [isLink]="true"
        (click)="warningClick()"
    ></van-cell>

    <van-van-doc-demo-card title='自定义配置    '>
        <van-cell
            title="自定义颜色"
            [isLink]="true"
            (click)="customStyleClick()"
        ></van-cell>
        <van-cell
            title="自定义时长"
            [isLink]="true"
            (click)="customDurationClick()"
        ></van-cell>
       
    
</van-van-doc-demo-card>
