<div class="van-picker">
    <div van-toolbar
        *ngIf="toolbarPosition==='top'"
        [cancelButtonText]="cancelButtonText"
        [confirmButtonText]="confirmButtonText"
        [title]="title"
    ></div>
    <div
        class="van-picker__columns"
        (touchmove)="preventDefault($event)"
        [style.height]="columnsHeight"
    >
        <ng-container *ngFor="let item of formattedColumns;let columnIndex=index">
            <div  van-picker-column
                [readonly]="readonly"
                [allowHtml]="allowHtml"
                [valueKey]="valueKey"
                [className]="item.className"
                [itemHeight]="itemHeight"
                [swipeDuration]="swipeDuration"
                [visibleItemCount]="visibleItemCount"
                [defaultIndex]="item.defaultIndex+defaultIndex"
                [initialOptions]="item.values"
            ></div>
        </ng-container>
        <div
            class="van-picker__mask"
            [style.backgroundSize]="'100% ' + maskBackHeight"
        ></div>
        <div
            class=" van-hairline-unset--top-bottom van-picker__frame"
            [style.height]="frameHeight"
        ></div>
    </div>
    <div van-toolbar
        *ngIf="toolbarPosition==='bottom'"
        [cancelButtonText]="cancelButtonText"
        [confirmButtonText]="confirmButtonText"
        [title]="title"
    ></div>
</div>
